# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env

# Virtual environment
venv/
env/

# Logs and temporary files
*.log
*.tmp

# System files (Mac, Windows)
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Additional folders to ignore
garbage/
additional_scripts/
saved_channels/
